<%- include('/layouts/modules/block') -%>
<!DOCTYPE html>
<html lang="<%= $meta.lang || locals.$meta.lang %>">

<head>
<%- include('/layouts/modules/prepend-head') -%>
<%- include('/layouts/modules/meta', $meta) -%>
<%- include('/layouts/modules/append-head') -%>
</head>

<body>
<%- include('/layouts/modules/prepend-body') -%>
<%- include('/components/organisms/SiteHeader/SiteHeader') -%>
<main class="main" role="main">
<%- block($contents) -%>
</main>
<%- include('/components/organisms/SiteFooter/SiteFooter') -%>
<%- include('/layouts/modules/append-body') -%>
</body>

</html>
